ul#toolslist{
  list-style-type: none !important;
}

li img{
  height: 100px;
  width: auto;
}

div#a_div{
  float: left;
  height: 100%;
}

div#txtdiv{
  height: 100%;
}

img#toolimg{
  height: 100px;
  width: auto;
}

@font-face {
    font-family: bebas;
    src: url(BEBAS___.ttf);
}
